/*CUSTOMIZATIONS*/
.criteria-form .form-group .form-control {
  border-color: #0033cc;
  width: 100px;
  border-radius: 15px;
  border-width: 1px;
}

.jumbotron{
  width: 80%;
  border: 1px solid #0033cc;
  border-radius: 15px;
}

.register-form .form-group .form-control{
  border-color: #0033cc;
  width: 60%;
  border-radius: 15px;
  border-width: 1px;
}
/*
body{
  background: #404040;
}
*/
