<div class="top-navbar">
  <nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="/">MyTopHHA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <!-- Left Nav Bar -->
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/mycriteria">My Criteria</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/artistratings">Rate Artists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/rankings">My Top Artists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">About</a>
        </li>
      </ul>

      <!-- Right Navbar -->
      <ul class="navbar-nav navbar-right">
        {% if session.logged_in %}
          <li class="nav-item"><a class="nav-link" href="/dashboard">My Account</a></li>
          <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
        {% else %}
          <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
          <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
        {% endif %}

      </ul>
    </div>
  </nav>
</div>

<style>
.navbar{
  background: black;
  height: 55px;
}
  #navbar{
    font-size: 20px;
  }

  #navbar a{
    padding-left: 25px;
    padding-right: 25px;
    color: #cccccc;
  }

  #navbar a:hover{
    background: #0033cc;
    color: #FFFFFF;
  }
</style>
