<div class="top-navbar">
  <nav class="navbar navbar-expand-md navbar-dark">
    <a class="navbar-brand" href="/">MyTopHHA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
      <!-- Left Nav Bar -->
      <div class="navBarLeft" id="navBarLeft">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/mycriteria">My Criteria</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/artistratings">Rate Artists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/rankings">My Top Artists</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>
        </ul>
      </div>

      <!-- Right Navbar -->
      <div class="navBarRight" id="navBarRight">
        <ul class="navbar-nav navbar-right">
          {% if session.logged_in %}
            <li class="nav-item"><a class="nav-link" href="/dashboard">My Account</a></li>
            <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
            <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</div>

<style>
  .navbar{
  }

  #navbar{
    font-size: 17px;
  }

  #navBarLeft a{
    padding-left: 25px;
  }
  #navBarRight a{
    padding-left: 10px;
  }

  #navbar a:hover{
    color: #FFFFFF;
  }

  .navBarLeft{
    margin: 0 auto;
  }
</style>
