{%extends 'layout.html'%}

{% block body %}
<div class="aboutContainer">
  <h1 class="pageHeader">About</h1>

  <div class="aboutContent">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link {% if session.active_about_tab=='info'%}active{% endif %}" id="pills-home-tab" data-toggle="pill" href="#pills-info" role="tab" aria-controls="pills-info" aria-selected="true">Info</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if session.active_about_tab=='faq'%}active{% endif %}" id="pills-profile-tab" data-toggle="pill" href="#pills-faq" role="tab" aria-controls="pills-faq" aria-selected="false">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link {% if session.active_about_tab=='contact'%}active{% endif %}" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab" aria-controls="pills-contact" aria-selected="false">Contact</a>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <!-- About Page -->
      <div class="tab-pane fade {% if session.active_about_tab=='info'%}show active{% endif %}" id="pills-info" role="tabpanel" aria-labelledby="pills-info-tab">
        <h3>Info</h3>
      </div>

      <!-- FAQ Page -->
      <div class="tab-pane fade {% if session.active_about_tab=='faq'%}show active{% endif %}" id="pills-faq" role="tabpanel" aria-labelledby="pills-faq-tab">
        <h3>FAQ</h3>
        <div class="accordion" id="accordion">

          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  What is this website?
                </button>
              </h5>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                MyTopHHA.com is a website where you can make a list of your top Hip Hop Artists. First, you have to set your criteria based off of a list
                of categories on the "My Criteria" page. Next, you go to the "Rate Artists" page and select the hip hop artists you would like to rate.
                You will then rate the artists on a scale from 1 to 10 for each category. Your criteria settings combined with your artist ratings will
                give the artists a total score, and rank them in order on the "My Top Artists" page. For a full decription please visit the "About" tab.
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Why should I register to this website?
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                Without registering, your settings and ratings will not be saved between sessions. This means if you ever clear your cookies or switch
                devices, your data will be lost. Registering to MyTopHHA.com will save your information across all sessions and devices.
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Why should I verify my email?
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
                Verifying your email allows you to reset your password whenever you forget it. Otherwise, you will not be able to reset your password until
                your email is verified.
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFour">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  I never got an email confirmation link
                </button>
              </h5>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
              <div class="card-body">
                If you did not receive an email confirmation link, first double check to make sure that your email is entered correctly on the website.
                If your email is correct, then please check the Spam folder in your email inbox for the confirmation link. If you still can't find the
                confirmation email, please contact us through the contact form on the "Contact" tab of the about page
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingFive">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                  I have a problem with my account
                </button>
              </h5>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
              <div class="card-body">
                If you are having any trouble with your account, please let us know through the contact form.
              </div>
            </div>
          </div>

          <div class="card">
            <div class="card-header" id="headingSix">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                  I have a suggestion to make about this website
                </button>
              </h5>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
              <div class="card-body">
                Let us know! Any feedback is welcome. Contact us through the contact form.
              </div>
            </div>
          </div>


        </div>
      </div>

      <!-- Contact Page -->
      <div class="tab-pane fade {% if session.active_about_tab=='contact'%}show active{% endif %}" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
        <h3>Contact</h3>

        <div class="contactFormContainer">
          <p>* All fields required</p>
          <form method="POST" action="">
            {{ contactForm.csrf_token }}
            <div class="form-group" onkeypress="return event.keyCode != 13;">
              <dt>{{ contactForm.name.label }}
              {{ contactForm.name(class_="form-control") }}
            </div>
            {% if contactForm.name.errors %}
              <ul class="errors">{% for error in contactForm.name.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}

            <div class="form-group" onkeypress="return event.keyCode != 13;">
              <dt>{{ contactForm.email.label }}
              {{ contactForm.email(class_="form-control") }}
            </div>
            {% if contactForm.email.errors %}
              <ul class="errors">{% for error in contactForm.email.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}

            <div class="form-group" onkeypress="return event.keyCode != 13;">
              <dt>{{ contactForm.subject.label }}
              {{ contactForm.subject(class_="form-control") }}
            </div>
            {% if contactForm.subject.errors %}
              <ul class="errors">{% for error in contactForm.subject.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}

            <div class="form-group">
              <dt>{{ contactForm.message.label }}
              {{ contactForm.message(rows='7',class_="form-control") }}
            </div>
            {% if contactForm.message.errors %}
              <ul class="errors">{% for error in contactForm.message.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}

            <center>
              <div class="form-group">
                {{ contactForm.recaptcha(class_="form-control") }}
              </div>
              {% if contactForm.recaptcha.errors %}
                <ul class="errors">{% for error in contactForm.recaptcha.errors %}<li>{{ error }}</li>{% endfor %}</ul>
              {% endif %}
              <input type="submit" class="btn btn-primary" value="Send" />
            </center>
            <br />
          </form>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}
