{%extends 'layout.html'%}

{% block body %}
  {% if session.logged_in %}
    <h1>{{session['name']}}'s Dashboard</h1>
    <div class="dashboard_container">
      <div class="user_info">
        <form class="edit_name" method="POST">
          <div class="form_element">
            <b>Name:</b><br />
            <input type="text" class="form-control" name="name" value="{{session['name']}}" maxlength="50"/>
            <div class="dashboard_save_button">
              <button type="submit" class="btn btn-primary" id="change_name" data-toggle="modal" data-target="#confirm_name_change" onclick="event.preventDefault();">Change Name</button>
            </div>

            <!-- Dialog to confirm decision to change name -->
            <div class="modal fade" id="confirm_name_change" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="confirmationTitle">Change name?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" id="confirmationBody">
                    Are you sure you want to change the name for your account?</b>
                  </div>
                  <div class="changeName modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" name="save_button" value="change_name">Confirm</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>

        <br /><br /><br />

        <form class="edit_email" method="POST">
          {% from 'includes/_formhelpers.html' import render_field %}
          <div class="form_element">
            <div class="form-group">
              <div class="email_label">
                <dt>{{ emailForm.email.label }}
              </div>
              {% if session['email_confirmed'] == 1 %}
                <div class="verified_text">
                  Verified
                </div>
              {% elif session['email_confirmed'] == 0 %}
                <div class="unverified_text">
                  Unverified
                </div>
                <button type="submit" class="link-button" data-toggle="modal" data-target="#confirm_send_verification" onclick="event.preventDefault();">
                  Send Confirmation
                </button>
              {% endif %}
              <br />
              <div class="email_box">
                {{render_field(emailForm.email, class_="form-control")}}
              </div>
              <div class="dashboard_save_button">
                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#confirm_email_change" onclick="event.preventDefault();">Change Email</button>
              </div>
            </div>

            <!-- Dialog to confirm decision to change email -->
            <div class="modal fade" id="confirm_email_change" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="confirmationTitle">Change email?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body" id="confirmationBody">
                    Are you sure you want to change the email for your account?</b>
                  </div>
                  <div class="changeEmail modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary" name="save_button" value="change_email">Confirm</button>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <br /><br />
            {% if emailForm.email.errors %}
              <ul class="errors">{% for error in emailForm.email.errors %}<li>{{ error }}</li>{% endfor %}</ul>
            {% endif %}
          </div>
        </form>
        <br /><br /><br />
    </div>

    <!-- Dialog to confirm decision to send verification email -->
    <div class="modal fade" id="confirm_send_verification" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmationTitle">Send Confirmation Link</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" id="confirmationBody">
            Are you sure you want to send a confirmation link to <b>{{session['email']}}</b>?
          </div>
          <div class="confirmVerification modal-footer">
            <form method="POST">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
              <button type="submit" class="btn btn-primary" name="save_button" value="send_verification">Send</button>
            </form>
          </div>
        </div>
      </div>
    </div>

  {% endif %}
{% endblock %}
