{%extends 'layout.html'%}

{% block body %}
{% if session.logged_in %}
  <p>You are already logged in</p>
{% else %}
  <div class="forgot_password_container">
    <h1 class="pageHeader">Forgot Password</h1>
    <div class="forgot_password_form">
      <p>Enter your email in the form below to reset your password:</p>
      <form method="POST" action="">
        {{ forgotPasswordForm.csrf_token }}
        <div class="form-group">
          <dt>{{ forgotPasswordForm.email.label }}<br />
          {{ forgotPasswordForm.email(class_="form-control") }}
        </div>
        <br />
        {% if forgotPasswordForm.email.errors %}
          <ul class="errors">{% for error in forgotPasswordForm.email.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}
        <br /><br /><br />
        <p><input type="submit" class="btn btn-primary" value="Reset Password" /></p>
      </form>
    </div>
  </div>
{% endif %}
{% endblock %}
