{%extends 'layout.html'%}

{% block body %}
<div class="jumbotron">
  <center>
  <h1 class="display-4">Welcome to THHA App</h1>
  <p class="lead">
    This is a website where you can put together a list of your favorite Hip Hop Artists, all based off of your own criteria!
  </p>
  <hr class="my-4">
  <p>Before you rate the Artists, you must first define your criteria</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/mycriteria" role="button">Get Started</a>
  </p>
  </center>
</div>
{% endblock %}
