{%extends 'layout.html'%}

{% block body %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="first-slide" width="1024" height="700" src="{{ url_for('static', filename="images/photos/home-banner.png")}}" alt="">
      <div class="container">
        <div class="carousel-caption text-left">
          <h1>Welcome.</h1>
          <p>
            Welcome to MyTopHHA.com, a website where you can rate Hip Hop artists based off of your own set of criteria.
          </p>
          {% if not session.logged_in %}
            <a class="btn btn-lg btn-primary" href="/register" role="button">Sign up</a>
            <a class="btn btn-lg btn-primary" href="/login" role="button">Log in</a>
          {% endif %}

        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="second-slide" width="1024" height="700" src="{{ url_for('static', filename="images/photos/criteria.png")}}" alt="">
      <div class="container">
        <div class="carousel-caption text-left">
          <h1>Set Criteria.</h1>
          <p>First you must set your criteria on the "My Criteria" page. What do <i>you</i> think makes a great Hip Hop Artist?</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="third-slide" width="1024" height="700" src="{{ url_for('static', filename="images/photos/rating.png")}}" alt="">
      <div class="container">
        <div class="carousel-caption text-left">
          <h1>Rate Artists.</h1>
          <p>Then you select and give ratings to each Hip Hop artist you would like to rate.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="fourth-slide" width="1024" height="700" src="{{ url_for('static', filename="images/photos/topartists.png")}}" alt="">
      <div class="container">
        <div class="carousel-caption text-left">
          <h1>View Your Top Artists.</h1>
          <p>Finally, you will be able to view your top hip hop artist list.</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img class="fourth-slide" src="" alt="">
      <div class="container">
        <div class="carousel-caption text-left">
          <h1>Get Started.</h1>
          <p>Click below to start setting your criteria.</p>
          <p><a class="btn btn-lg btn-primary" href="/mycriteria" role="button">Get Started</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{% endblock %}
