<!DOCTYPE HTML>

<html lang="en">

<head>
  <meta charset="UTF-8"/>

  <!--KEYWORDS-->
  <meta name="keywords"
	content="top 5, rappers, hip hop artists, jay z, nas, tupac, biggie, best,
  best of all time, best rappers of all time, best hip hop artists of all time,
  greatest of all time, greatest rappers of all time, GOAT, G.O.A.T, GOAT,
  drake, kendrick lamar, j cole, big sean, migos, ice cube, snoop dogg,
  lil wayne, classic, illmatic, new york, east coast, west coast, beef, ratings,
  rating, ranking, tophha, thha"/>

  <!--Index Info-->
  <meta name="robots" content="index,follow"/>

  <!--CSS Style sheet-->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/bootstrap.css")}}"/> <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/bootstrap-select.css")}}"/> <!-- bootstrap-select for searchable select dropdown -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/styles.css")}}"/> <!-- Custom Styles CSS -->

  <!--Website Icon (16x16)-->
  <!--<link rel="icon" href="images/website-icon.png"/>-->

  <title>MyTopHHA.com</title>

</head>

<!-- HEADER -->
<header class="main-header" role="banner">
</header>

<body>
  <div class="full_page_container">
    {% include 'includes/_navbar.html' %}
      {% include 'includes/_messages.html' %}
      {% block body %}{% endblock %}
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> <!-- JQuery AJAX -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="{{ url_for('static', filename="js/bootstrap.min.js")}}"></script> <!-- Botstrap JS -->
  <script src="{{ url_for('static', filename="js/bootstrap-select.min.js")}}"></script> <!-- bootstrap-select -->
  <script src="{{ url_for('static', filename="js/ratescript.js") }}"></script> <!-- JQuery Script that saves the ratings -->
  <script src="{{ url_for('static', filename="js/rating_slider_script.js") }}"></script> <!-- JQuery Script that changes rating slider values  -->
  <script src="{{ url_for('static', filename="js/criteriascript.js") }}"></script> <!-- JQuery Script that saves criteria values  -->
  <script src="{{ url_for('static', filename="js/delete_artist_dialog.js") }}"></script> <!-- JQuery Script for dialog popup when deleting a rating  -->
</body>
