{%extends 'layout.html'%}

{% block body %}
{% if session.logged_in %}
  <div class="accessErrorMessage">
    You are already logged in
  </div>
{% else %}
  <div class="login-container">
    <h1 class="pageHeader">Login</h1>
    <div class="login-form">
      <form action="" method="POST">
        {{ loginForm.csrf_token }}
        <div class="form-group">
          <dt>{{ loginForm.email.label }}
            {{ loginForm.email(class_="form-control") | safe }}
        </div>
        {% if loginForm.email.errors %}
          <ul class="errors">{% for error in loginForm.email.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}

        <div class="form-group">
          <dt>{{ loginForm.password.label }}
          {{ loginForm.password(class_="form-control") | safe }}
        </div>
        {% if loginForm.password.errors %}
          <ul class="errors">{% for error in loginForm.password.errors %}<li>{{ error }}</li>{% endfor %}</ul>
        {% endif %}

        <p><input type="submit" class="btn btn-primary" value="Login" /></p>

      </form>
      <br />

      <a href="/forgot_password"><button class="link-button" type="button">Forgot Password?</button></a>

    </div>
  </div>

{% endif %}
{% endblock %}
