{%extends 'layout.html'%}

{% block body %}
  {% if session.logged_in %}
    <h1>{{session.name}}'s Criteria</h1>
  {% else %}
    <h1>Criteria</h1>
  {% endif %}
  <div class="criteria-form">
    <form action="" method="POST">
      <div class="criteria_container">
        {% for category in categoryList %}
          <div class="criteria-label">{{category}}</div><br />
          <input type="range" min="1" max="100" value="1" class="slider" id="criteria_{{category}}" name="criteria_{{category}}">
        {% endfor %}
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>

{% endblock %}
