{%extends 'layout.html'%}

{% block body %}
  {% if session.logged_in %}
    <h1>{{session.name}}'s Criteria</h1>
  {% else %}
    <h1>Criteria</h1>
  {% endif %}
  <div class="criteria-form">
    <form>
      <div class="form-group">
        <label for="content">Content</label>
        <input type="number" class="form-control" name="content" placeholder=0>
      </div>
      <div class="form-group">
        <label for="flow">Flow</label>
        <input type="number" class="form-control" name="flow" placeholder=0>
      </div>
      <div class="form-group">
        <label for="catalogue">Catalogue</label>
        <input type="number" class="form-control" name="catalogue" placeholder=0>
      </div>
      <div class="form-group">
        <label for="consistency">Consistency</label>
        <input type="number" class="form-control" name="consistency" placeholder=0>
      </div>
      <div class="form-group">
        <label for="impact">Impact</label>
        <input type="number" class="form-control" name="impact" placeholder=0>
      </div>
      <div class="form-group">
        <label for="sales">Sales</label>
        <input type="number" class="form-control" name="sales" placeholder=0>
      </div>
      <div class="form-group">
        <label for="charisma">Charisma</label>
        <input type="number" class="form-control" name="charisma" placeholder=0>
      </div>
      <div class="form-group">
        <label for="creativity">Creativity</label>
        <input type="number" class="form-control" name="creativity" placeholder=0>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
    </form>
  </div>

{% endblock %}
