{%extends 'layout.html'%}

{% block body %}
  <h1>Ratings</h1>
  <p>Select an artist to rate</p>
  <div class="artist-rating" onchange="displayArtistName(); hideDefaultOnChange();">
    <form class="artist-rater">
      <!-- Artist Select -->
      <select class="selectpicker" data-live-search="true" id="artist_name" name="artist_name">
        <option disabled selected value style="display:none" id="default-option"> -- select an artist -- </option>
        {% for artist in artistList %}
          <option data-tokens="{{artist}}">{{artist}}</option>
        {% endfor %}
        <option disabled value style="display:none"> -- END -- </option> <!--This is to remove the blank space at the bottom when scrolling all the way down-->
      </select>
      <p id="name_display"></p>

      <!-- sliders -->
      <div class="slidercontainer" id="slidercontainer" style="display: none;">
          {% for category in categoryList %}
            <div class="slider-label">{{category}}</div><br />
            <input type="range" min="1" max="10" value="1" class="slider" id="rating_{{category}}" name="rating_{{category}}">
            <br /><br />
          {% endfor %}
          <button type="submit" class="btn btn-primary" id="rating_save_button">Save</button>
          <button type="reset" class="btn btn-primary" id="rating_reset_button">Reset</button>
      </div>
    </form>

    <br />
    <!-- Success and Error Messages -->
    <div id="successAlert" class="alert alert-success" role="alert" style="display:none;"></div>
	  <div id="errorAlert" class="alert alert-danger" role="alert" style="display:none;"></div>
    <br />

  </div>

  <script>
    function displayArtistName(){
      var selected_artist = document.getElementById("artist_name").selectedIndex;
      var artist_name = document.getElementsByTagName("option")[selected_artist].value;
      document.getElementById('name_display').innerHTML = artist_name;
    }

    // Operations to run after page is loaded
    window.onload = function loadOperations(){
      //Hide slider set when the default option is selected
      var sliderSet = document.getElementById("slidercontainer");
      var selectedOption = document.getElementById("artist_name").selectedIndex;
      if(selectedOption == 0){
        sliderSet.style.display = "none";
      }
      else {
        sliderSet.style.display = "block";
      }
    }

    function hideDefaultOnChange(){
      var sliderSet = document.getElementById("slidercontainer");
      var selectedOption = document.getElementById("artist_name").selectedIndex;
      if(selectedOption == 0){
        sliderSet.style.display = "none";
      }
      else {
        sliderSet.style.display = "block";
      }
    }
  </script>

{% endblock %}
