{%extends 'layout.html'%}

{% block body %}
  <h1>Ratings</h1>
  <p>Select an artist to rate</p>
  <div class="artist-rating" onchange="displayArtistName(); hideDefaultOnChange();">
    <form class="artist-rater" method="POST">
      <!-- Artist Select -->
      <select class="selectpicker" data-live-search="true" id="artist_name" name="artist_name">
        <option disabled selected value style="display:none" id="default-option"> -- select an artist -- </option>
        {% for artist in artistList %}
          <option data-tokens="{{artist}}">{{artist}}</option>
        {% endfor %}
        <option disabled value style="display:none"> -- END -- </option> <!--This is to remove the blank space at the bottom when scrolling all the way down-->
      </select>
      <p id="name_display"></p>

      <!-- sliders -->
      <div class="slidercontainer" id="slidercontainer" style="display: none;">
          {% for category in categoryList %}
            <div class="slider-label">{{category}}</div><br />
            <input type="range" min="1" max="10" value="1" class="slider" id="slider-{{category}}" name="slider-{{category}}">
            <br /><br />
          {% endfor %}
          <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>

  <script>
    function displayArtistName(){
      var selected_artist = document.getElementById("artist_name").selectedIndex;
      var artist_name = document.getElementsByTagName("option")[selected_artist].value;
      document.getElementById('name_display').innerHTML = artist_name;
    }

    // Operations to run after page is loaded
    window.onload = function loadOperations(){
      // automatically select previously selected artist after page refreshes (when saving a rating)
      var list = {{artistList|tojson}}; // full list of artists
      var prev_selected = {{selected_artist|tojson}}; // previously selected artist before saving/refreshing
      // loop through list until you find the previously selected artist, then set the selected index to that position
      for(i=0; i<list.length; i++){
        if(list[i] === prev_selected){
          document.getElementById("artist_name").selectedIndex = i+1; // need to do +1 since the first option is --select an artist--
        }
      }

      //Hide slider set when the default option is selected
      var sliderSet = document.getElementById("slidercontainer");
      var selectedOption = document.getElementById("artist_name").selectedIndex;
      if(selectedOption == 0){
        sliderSet.style.display = "none";
      }
      else {
        sliderSet.style.display = "block";
      }

      // Display Artist Name
      displayArtistName();
    }

    function hideDefaultOnChange(){
      var sliderSet = document.getElementById("slidercontainer");
      var selectedOption = document.getElementById("artist_name").selectedIndex;
      if(selectedOption == 0){
        sliderSet.style.display = "none";
      }
      else {
        sliderSet.style.display = "block";
      }
    }
  </script>

{% endblock %}
