{%extends 'layout.html'%}

{% block body %}
<div class="rankings-container">
  <h1 class="pageHeader">
  {% if session.logged_in %}
    {{session.name}}'s Artist Rankings
  {% else %}
    Artist Rankings
  {% endif %}
  </h1>

  {% if isEmpty %}
    <div class="accessErrorMessage">To view your list, you must first set your criteria and rate at least one artist</div>
  {% else %}
  <div class="deleteAllRatingsButton"><button class="btn btn-primary" id="delete_all_ratings" data-toggle="modal"
    data-target="#delete_all_confirmation">Delete All Ratings</button></div>
  <div class="rankingList">
    <ul class="list-group" id="artist_ranking_list">
    {% for artist in listing %}
      <li class="rankItem list-group-item" id="{{artist}}_item">
        <div class="artist_rank">{{loop.index}}</div>
        <div class="artist_name">{{artist[0]}}</div>
        <div class="artist_delete">
          <button type="button" class="deleteArtistDialog close" aria-label="Close" id="delete_{{artist[0]}}" data-toggle="modal" data-target="#delete_single_confirmation">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="artist_score">{{artist[1]}}</div>
      </li>
    {% endfor %}
    </ul>
  </div>
  <br />

<ul class="pagination">
  {%if listing.page == 1%}
    <li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
  {%else%}
    <li class="page-item"><a class="page-link" href="/rankings/{{listing.page-1}}">Previous</a></li>
  {%endif%}

  {% if listing.page == numOfPages %}
    <li class="page-item disabled"><a class="page-link" href="#">Next</a></li>
  {%else%}
    <li class="page-item"><a class="page-link" href="{{listing}}">Next</a></li>
  {%endif%}
</ul>
  {% endif %}

  <!-- Confirmation Message Popups -->
  <!-- DELETE SINGLE RATINGS -->
  <div class="modal fade" id="delete_single_confirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmationTitle">Delete Artist Rating</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="confirmationBody">
          Clicking confirm will delete the rating for the selected artist. Are you sure?
        </div>
        <div class="deleteSingleArtist modal-footer">
          <form method="POST">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" name="action_button">Confirm</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>

  <!-- DELETE ALL RATINGS -->
  <div class="modal fade" id="delete_all_confirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmationTitle">Delete All</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Clicking confirm will delete all of your artist ratings. Are you sure?
        </div>
        <div class="modal-footer">
          <form method="POST">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary" name="action_button" value="all_ratings_delete">Confirm</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
{% endblock %}
