{%extends 'layout.html'%}

{% block body %}
{% if session.logged_in %}
  <p>You are already logged in</p>
{% else %}
  <div class="reset_password_form">
    <h1 class="pageHeader">Reset Password</h1>
    <p>Enter your new password in the form below:</p>
    <form method="POST" action="">
      {% from 'includes/_formhelpers.html' import render_field %}
      <!-- Password Form -->
      <div class="form-group">
        <dt>{{ passwordResetForm.password.label }}
        {{render_field(passwordResetForm.password, class_="form-control")}}
      </div>
      <br /><br />
      {% if passwordResetForm.password.errors %}
        <ul class="errors">{% for error in passwordResetForm.password.errors %}<li>{{ error }}</li>{% endfor %}</ul>
      {% endif %}

      <!-- Confirmation Form -->
      <div class="form-group">
        <dt>{{ passwordResetForm.confirm.label }}
        {{render_field(passwordResetForm.confirm, class_="form-control")}}
      </div>
      <br /><br />
      {% if passwordResetForm.confirm.errors %}
        <ul class="errors">{% for error in passwordResetForm.confirm.errors %}<li>{{ error }}</li>{% endfor %}</ul>
      {% endif %}

      <br />
      <p><input type="submit" class="btn btn-primary" value="Save Password" /></p>
    </form>
  </div>
{% endif %}
{% endblock %}
